body {
	background-color: #081f54;
	font-family: "Karla", sans-serif;
	font-size: 20;
	color: white;
}

.intro-header {
	font-family: "Lexend Deca", sans-serif;
	color: #e06c00;
	animation: fadeUpText 1s ease-in-out 0.5s;
	-webkit-animation: fadeUpText 1s ease-in-out;
}

.casual-text {
	animation: fadeUpText 1s ease-in-out 1s;
	-webkit-animation: fadeUpText 1.2s ease-in-out;
}

@keyframes fadeUpText {
	0% {
		opacity: 0%;
		transform: translateY(100%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}

@-webkit-keyframes fadeUpText {
	0% {
		opacity: 0%;
		transform: translateY(100%);
	}
	100% {
		opacity: 100%;
		transform: translateY(0%);
	}
}

.mohsregAnimated {
	display: block;
	margin: auto;
	height: auto;
	position: inherit;
	padding: 25px;
	-webkit-mask-image: -webkit-linear-gradient(
		right,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 0) 90%
	);
	animation: slideInRight 1.3s ease-in-out;
	pointer-events: none;
}

@keyframes slideInRight {
	0% {
		transform: translateX(-500%);
	}
	100% {
		transform: translateX(0%);
	}
}

.typewriter-div {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.typewriter-div h1 {
	font-size: 30px;
	font-family: "JetBrains Mono";
	font-weight: 750;
	text-align: center;
}
.auto-type {
	color: #f49d37;
}
