:root {
	--logo-height: 42px;
}
@font-face {
	font-family: "vcr-7";
	src: url("/font/vcr-7.otf") format("opentype");
}
body {
	background-color: #454555;
	color: white;
	font-family: "Comic Sans MS", sans-serif;
}
.avatar_full-body {
	height: 90vh;
	margin: auto;
	display: block;
	transform: scaleX(-100%);
}
.everything {
	width: 100%;
	height: 100%;
	display: flex;
}
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 3em;
	margin-right: 3em;
	row-gap: 8px;
}
.maintitle {
	font-size: 5em;
	font-weight: 700;
	font-family: "vcr-7", sans-serif;
	text-shadow: #268f8c 4px 3px 25px;
}

.status {
	font-size: 1.25em;
}
.twitch-logo:hover {
	filter: invert(29%) sepia(42%) saturate(1413%) hue-rotate(228deg)
		brightness(91%) contrast(94%);
	/* colour=#6441a5 */
}
.youtube-logo:hover {
	filter: invert(12%) sepia(91%) saturate(7445%) hue-rotate(1deg)
		brightness(107%) contrast(111%);
	/* colour=#FF0000*/
}
.twitter-logo:hover {
	filter: invert(46%) sepia(88%) saturate(1973%) hue-rotate(180deg)
		brightness(105%) contrast(90%) saturate(70%);
	/* colour=#1DA1F2 */
}
.discord-logo:hover {
	filter: invert(60%) sepia(11%) saturate(2287%) hue-rotate(191deg)
		brightness(90%) contrast(90%);
	/* colour=#7289da*/
}
.mastodon-logo:hover {
	filter: invert(39%) sepia(45%) saturate(4868%) hue-rotate(227deg)
		brightness(103%) contrast(101%);
	/* colour=#6364ff*/
}

.twitch-logo {
	height: var(--logo-height);
	width: auto;
}
.youtube-logo {
	height: var(--logo-height);
	width: auto;
}
.twitter-logo {
	height: var(--logo-height);
	width: auto;
}
.discord-logo {
	height: var(--logo-height);
	width: auto;
}
.mastodon-logo {
	height: var(--logo-height);
	width: auto;
}

/*glitch code uwu*/

.stack {
	display: grid;
	grid-template-columns: 1fr;
}

.stack span {
	font-size: 5em;
	font-weight: 700;
	font-family: "vcr-7", sans-serif;
	grid-row-start: 1;
	grid-column-start: 1;
	--stack-height: calc(100% / var(--stacks) - 1px);
	--inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
	--clip-top: calc(var(--stack-height) * var(--index));
	--clip-bottom: calc(var(--stack-height) * var(--inverse-index));
	clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
	animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
			calc(var(--index) * 120ms),
		glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
	--glitch-translate: 8px;
}
.stack span:nth-child(even) {
	--glitch-translate: -8px;
}

@keyframes stack {
	0% {
		opacity: 0;
		transform: translateX(-50%);
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
	}
	60% {
		opacity: 0.5;
		transform: translateX(50%);
	}
	80% {
		transform: none;
		opacity: 1;
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
	}
	100% {
		text-shadow: none;
	}
}

@keyframes glitch {
	0% {
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
		transform: translate(var(--glitch-translate));
	}
	2% {
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
	}
	4%,
	100% {
		text-shadow: none;
		transform: none;
	}
}
