.navbar-item {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: transparent;
}

.navbar-li-a {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

.navbar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 30px 10% 0%;
	overflow: hidden;
}

.navbar-logo {
	width: 10em;
	cursor: pointer;
}

.nav-links {
	list-style: none;
}
.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
	padding: 1em 2em;
	border-radius: 8px;
}

.nav-links li a:hover {
	transition: all 0.3s ease 0s;
	background-color: #37718e46;
}

.navbar-greet {
	transform: translateX(80%) scaleX(-1) rotate(45deg);
	transform-origin: bottom center;
	animation: mohsreHIanimation 3s ease 0s infinite;

	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@keyframes mohsreHIanimation {
	0% {
		transform: translateX(80%) scaleX(-1) rotate(45deg);
	}
	10% {
		transform: translateX(80%) scaleX(-1) rotate(45deg);
	}
	15% {
		transform: translateX(80%) scaleX(-1) rotate(48deg);
	}
	20% {
		transform: translateX(80%) scaleX(-1) rotate(45deg);
	}
	25% {
		transform: translateX(80%) scaleX(-1) rotate(48deg);
	}
	30% {
		transform: translateX(80%) scaleX(-1) rotate(45deg);
	}
	35% {
		transform: translateX(80%) scaleX(-1) rotate(48deg);
	}
	40% {
		transform: translateX(80%) scaleX(-1) rotate(45deg);
	}
	100% {
		transform: translateX(80%) scaleX(-1) rotate(45deg);
	}
}
